@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/Main\ Festival.jpg);
    -webkit-background-size: cover ;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: 16px;
}

a{
    text-decoration: none;
}

header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

header img{
    height: 130px;
    width: 130px;
}
.logo{
    cursor: pointer;
}

.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a{
    transition: .3s;
    color: #fff;
}

.nav-area li a:hover{
    color: #d22938;
}

.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    background: #d22938;
}